*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 10vh;
    width: 100%;
}


.nav_Bar{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.logo{
    display: flex;
}
.logo img{
    height: 60px;
    width: 60px;
}
.nav_Links  li  {
text-decoration: none;
list-style-type:none;
margin-right: 10px;
}
.nav_Links ul li a {
    text-decoration: none;
}
.logo img{
    padding-left: 40px;
    padding-bottom: 25px;
    
}
.college_Name h2{
    padding-left: 10px;
}
.college_Name p{
    font-size: 0.8rem;
   padding-left: 10px;
}
.nav_Bar{
    padding-top: 20px;
    background-color: rgb(40, 151, 40);
}
.nav_Links ul li a{
    color:white;
    padding-left: 15px;
    margin-right: 10px;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
.nav_Links ul {
    padding-top: 20px;
}
.nav_Links ul li a:hover {
    color: rgb(2, 52, 2);
}
.box{
    background-color: black;
    height: 85vh;
    background-image: url(assets/faithcentre.jpg);
    background-size:cover;
background-position: center;

}
.welcome_Section{
    width: 90%;
    color: rgb(10, 9, 9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.welcome_Section h1{
    font-size: 4rem;
}
.welcome_Section p{
    margin: 10px 0 40px;
    font-size: 0.8rem;
}
.visit_Button{ 
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
    
}
.visit_Button:hover{
    border: 1 px solid #0ae792;
    background:#0ae792 ;
    transition: 1s;
}
.about_us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 2rem;
    font-weight: 600;
}
p{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.about_Blocks{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.blocks{
    flex-basis: 31%;
    background: #6d9c8ae4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.blocks:hover{
    box-shadow: 0 0 20px 0px rgba(0 ,0, 0, 0.2);
}

.footer{
    height: 50vh;
    background-color: #2b7f3d;
    border: 2px solid rgb(86, 128, 91) ;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    
}
.enquiry p {
    color: rgb(180, 180, 46);
}
/* .foot_2{
   padding-left: 20px;
} */
.foot_3{
    padding-left: 100px;
}
